@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --white: #f2f2f2;
  --black: #88568e;
  --bg1: rgba(0, 0, 0, 0.2);
  --white2: #fff;
  --gray: rgba(255, 255, 255, 0.3);
  --gray1: #7a7a7a;
  --br: #bfbfbf;
  --gray2: #525252;
  --ddd: #ddd;
  --white3: white;
  --pink: #E1AFD1;
  --white3: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LovelyCapsules";
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--black);
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
  text-transform: uppercase;
}
.navbar .all-links li a{
  padding: 1rem 1rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--white3);
  min-width: 60px;
  margin: auto;
}

.navbar .all-links li a:hover {
  background-image: url('https://img.icons8.com/?size=100&id=voaJdcF2IZ1B&format=png&color=000000');
  background-size: 100% 100%;
  color: var(--pink);
  animation: spring 350ms ease-out;
  font-weight: bold;
}
.navbar .all-links li a:active {
  transform: translateY(5px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}


header a{
  margin-left: 40px;
  text-decoration: none;
  color: var(--white3);
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover {
  color: var(--ddd);
}

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("images/background1.jpg");
  background-position: center 65%;
  background-size: cover;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--bg1);
}

.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
  
}

.homepage .content .text {
  margin-bottom: 50px;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px var(--bg1);
}

.content a {
  color: #000;
  display: block;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--white);
  border: 2px solid var(--white);
  transition: 0.4s ease;
  box-shadow: 0 10px 20px var(--bg1);
  text-decoration: none;
}

.content a:hover {
  color: var(--white);
  background: var(--gray);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}

section h2 {
  font-size: 2rem;
}

section>p {
  text-align: center;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}

section.about {
  margin: 0 auto;
  max-width: 1200px;
}

.about .company-info {
  margin-top: 30px;
}

.about h3 {
  margin: 30px 0 10px;
  
}

.about .team {
  text-align: left;
  width: 100%;
}

.about .team ul {
  padding-left: 20px;
}

section .cards .card {
  background: var(--white2);
  padding: 40px 15px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px var(--gray);
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
}

.products .cards .card {
  padding: 0 0 20px;
}


.products .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}

.cards .card p {
  padding: 0 15px;
  margin-top: 5px;
}

.about .row {
  padding: 0 10px;
}

.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact .col p {
  margin-bottom: 10px;
}

.contact .col p i {
  color: var(--black);
  margin-right: 10px;
}

.contact form input {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--br);
}

.contact form textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  outline: none;
  resize: vertical;
  border: 1px solid var(--br);
}

.contact form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: var(--white2);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: var(--black);
  transition: 0.2s ease;
}

.contact form button:hover {
  background: var(--pink);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--black);
  padding: 20px 0;
}

footer div {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: var(--white2);
  text-align: center;
  margin:0 auto;
}



@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: var(--black);
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section>p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}